.create-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    gap: 30px;
    padding: 20px;
    min-height: 83vh;
}

.create-form-title-container {
    display: flex;
    gap: 30px;
}

#question-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
