@using FormCraft.WebApp.ViewModels.FormViewModels

@model FormDetailsViewModel


<form asp-action="Submit" asp-controller="form" asp-route-id="@Model.Id">
    <div class=" form-create">
        <vc:form-results form="@Model" />
        <div class="form-buttons-container">
            <button class="btn btn-success">Save</button>
            <button type="submit" class="btn btn-primary">CRAFT</button>
        </div>
    </div>
</form>