<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FormCraft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FormCraft.WebApp.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
            <div class ="container-fluid">
                <a class="navbar-brand" id="formcraft-logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo-img" src="/images/logo.png" />
                    <strong><formc>Form</formc><craft>Craft</craft></strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="home" asp-action="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#foot">About</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item">
                            <a class="nav-link" id="craft-now" asp-area="" asp-controller="Form" asp-action="Create">CRAFT Now</a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Form" asp-action="List">Research</a>
                    </li>

                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container" id="foot">
            <div class="footer-flex">
                <div>
                    <h4 class="footer-title">More about us</h4>
                    <ul class="contact-info">
                        <li><i class="fas fa-phone"></i> +33 4 01 01 01 01</li>
                        <li><i class="fas fa-envelope"></i> contact@formcraft.com</li>
                        <li><i class="fas fa-map-marker-alt"></i> 34000, Mtp city</li>
                    </ul>  
                </div>
                <div>
                    <p>"Simplify data gathering with our user-friendly survey and forms platform."</p>
                        
                </div>
                <div>
                    <h4 class="footer-title">Follow Us</h4>
                    <ul class="social-media">
                        <li><a href="https://twitter.com/formcraft" target="_blank">Twitter</a></li>
                        <li><a href="https://www.facebook.com/FormCraft" target="_blank">Facebook</a></li>
                        <li><a href="https://www.instagram.com/formcraft/" target="_blank"><i>Instagram</i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-flex">
                <div>
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Confidentiality</a>
                    
                </div>
                <div>
                    <a class="navbar-brand" id="formcraft-logo" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="logo-img" src="/images/logo.png" />
                        <strong>Form<craft>Craft</craft></strong>
                    </a>
                </div>
                <div>
                    English 
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<style>
    
    footer {
        display:flex;
        background-color: #012241;
        width:100%;
        position:absolute;
        bottom:auto;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        background-color: #012241;
        color: white;
    }

    .footer-flex .col-md-4 {
        flex: 0 1 33.33%;
        padding: 0 10px;
    }

    .footer-flex .copyright-text {
        text-align: center;
        font-size: 14px;
        color: #777;
    }

    #formcraft-logo {
        text-decoration:none;
        color: #4D87CB;
        font-size: 40px;
    }

    a {
        font-size: 20px;

    }
    img {
        height:80px;

    }
        craft {
        color: #FF8E3D;
        margin-right:30px;
    }

    craft :hover {
        color: #FF8E3D;
    }

    craft :active {
            color: #FF8E3D;
    }

    craft :after {
        color: #FF8E3D;
    }

    craft :before {
        color: #FF8E3D;
    }

    formc {
        color: #4D87CB;
    }

    formc :hover {
        color: #4D87CB;
    }

    formc :active {
        color: #4D87CB;
    }

    formc :after {
        color: #4D87CB;
    }

    formc :before {
        color: #4D87CB;
    }
  
    #craft-now {
        color: #FF8E3D;
        border: solid 2px #FF8E3D;
    }

    #craft-now:hover {
         background-color: #FF8E3D;
         color: white;
    }

    .navbar-nav {
        gap:30px;

    }
</style>
