@model AnswerResponse

<div class="create-answer">
    <input id="question-title" type="text" value="@Model.Label" data-id="@Model.Id" class="form-control" onblur="UpdateAnswer(this)">
    <button class="btn btn-outline-danger"
            data-id="@Model.Id"
            onclick="RemoveAnswer(this)">
        Remove Answer
    </button>
</div>