.create-question {
    display: flex;
    flex-direction: column;
}

.create-question-title-container {
    display: flex;
    justify-content: space-between;
}

.question-answers-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}