.create-question {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.create-question-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.question-answers-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    gap: 20px;
    width: 80%;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.question-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 10px;
    background: #fff;
    color: #000;
    margin-bottom: 0;
}